.block-header {
    margin: 0 auto;
    width: 320px;
    position: relative;
}

@media screen and (min-width: $tabletMinWidth) {
    .block-header {
        width: $tabletWidth;
    }
}

@media screen and (min-width: $desktopMinWidth) {
    .block-header {
        width: $desktopWidth;
    }
}
