.block-download {
    width: $mobileWidth;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.block-download__image {
    width: 100%;
    height: 400px;
    background: url("../img/bg-back-mobile@1x.jpg") no-repeat center center;
    position: relative;
}

.block-download__image-small {
    position: absolute;
    bottom: 0;
    left: 0;
}

.block-download__image-big {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
}

.block-download__links {
    background-color: #1d2631;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-download__tagline {
    display: none;
}

.block-download__btn {
    width: 280px;
    margin: 30px 0 35px 0;
}

.os-icons {
    display: flex;
    width: 240px;
    justify-content: space-around;
}

.os-icons__link {
    display: block;
    width: 50px;
    height: 50px;
}

.os-icons__link--apple {
    background: url("../img/logo-apple.svg") no-repeat;
    background-size: 60px 60px;
    width: 60px;
    height: 60px;
}

.os-icons__link--android {
    background: url("../img/logo-android.svg") no-repeat;
    background-size: 50px 50px;
    align-self: flex-end;
}

.os-icons__link--windows {
    background: url("../img/logo-microsoft.svg") no-repeat;
    background-size: 50px 50px;
    align-self: flex-end;
}

.block-download__description {
    width: 240px;
    color: white;
    font-family: opensanslight;
    font-size: 14px;
    text-align: center;
    line-height: 1.8;
    margin: 20px 0 35px 0;
}


@media screen and (min-width: $tabletMinWidth){

    .block-download {
        width: $tabletWidth;
    }

    .block-download__image {
        height: 615px;
        background: url("../img/back-desktop.png") no-repeat center center;
    }

    .block-download__image-big {
        display: block;
        transform-origin: left bottom;
        transform: scale(0.85);
        left: -50px;
    }

    .block-download__image-small {
        display: none;
    }

    .block-download__links {
        position: absolute;
        width: 300px;
        background-color: rgba(0, 0, 0, 0);
        left: 65px;
        bottom: 100px;
    }

    .block-download__tagline {
        display: block;
        font-family: opensanslight;
        font-size: 42px;
        text-align: center;
        color: white;
        line-height: 1.2;
        margin: 0;
    }

    .btn.block-download__btn {
        font-size: 18px;
        line-height: 100%;
        padding: 15px 20px;
        border-radius: 27px;
        margin: 25px 0 35px 0;
    }

    .os-icons {
        width: 270px;
    }

    .block-download__description {
        width: 100%;
        font-size: 18px;
        margin: 45px 0 0 0;
        line-height: 1.5;
    }
}

@media screen and (min-width: $desktopMinWidth){

    .block-download {
        width: $desktopWidth;
    }

    .block-download__image {
        height: 840px;
        background: url("../img/back-desktop.png") no-repeat center center;
    }

    .block-download__image-big {
        display: block;
        left: 140px;
    }

    .block-download__image-small {
        display: none;
    }

    .block-download__links {
        position: absolute;
        width: 350px;
        background-color: rgba(0, 0, 0, 0);
        left: 100px;
        bottom: 115px;
    }

    .block-download__tagline {
        display: block;
        font-family: opensanslight;
        font-size: 48px;
        text-align: center;
        color: white;
        line-height: 1.2;
        margin: 0;
    }

    .btn.block-download__btn {
        font-size: 22px;
        line-height: 100%;
        padding: 14px;
        border-radius: 27px;
        margin: 50px 0 70px 0;
    }

    .os-icons {
        width: 270px;
    }

    .block-download__description {
        width: 320px;
        font-size: 18px;
        margin: 50px 0 0 0;
        line-height: 1.5;
    }
}
































