.btn {
    border: 3px solid white;
    border-radius: 25px;
    line-height: 100%;
    text-align: center;
    font-family: opensansbold;
    padding: 15px 0;
    color: white;
    text-decoration: none;
    font-size: 18px;
}
